@font-face {
    font-family: 'Yataghan';
    src: url('Yataghan-Regular.eot');
    src: url('Yataghan-Regular.eot?#iefix') format('embedded-opentype'),
        url('Yataghan-Regular.woff2') format('woff2'),
        url('Yataghan-Regular.woff') format('woff'),
        url('Yataghan-Regular.ttf') format('truetype'),
        url('Yataghan-Regular.svg#Yataghan-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fontin';
    src: url('Fontin-Regular.eot');
    src: url('Fontin-Regular.eot?#iefix') format('embedded-opentype'),
        url('Fontin-Regular.woff2') format('woff2'),
        url('Fontin-Regular.woff') format('woff'),
        url('Fontin-Regular.ttf') format('truetype'),
        url('Fontin-Regular.svg#Fontin-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: 'Fontin';
    background-color: black;
    color: lightgrey;
}

h1 {
    font-family: 'Yataghan';
    padding: 25px;
    color: darkred;
}

h2 {
    padding: 10px;
    font-family: 'Yataghan';
}

output {
    color: darkred;
    font-size: 20px;
}

textarea {
    background-color: lightgrey;
}

.row {
    padding: 15px;
}

.stats {
    background-color: transparent;
    border-color: transparent;
    font-size: 20px;
    color: darkred;
}

#dice-formula {
    border: 1px solid black;
    background: lightgrey;
    color: black;
    border-radius: 10px;
}

#roll-lead {
    font-size: 20px;
}